<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Holi Hai !!</title>
</head>
<body>
    <section class="hero-section">
        <img src="../static/images/hero-A.jpg" class='banner-bg' alt="holi image">
        <div class="cover-menu">
            <div class="part-A">
                <h2 class="part-a-font">Holi Hai !</h2><br />
                <h3 class="part-a-font-a">This Holi Gift Your Loved Ones </h3>
                <h3 class="part-a-font-c">a pack of joy</h3>
                <h1 class="part-a-font-a">Set of organic colors</h1><br />
                <h4 class="part-a-font-b">Toxin free | Easy Wash | Skin friendly</h4><br />
                <h1 class="part-a-font-a">Click to Buy →</h1>
            </div>
            <div class="part-B">
                <h2 class="part-b-font">Get Your Organic Colors</h2><br />
                <h1 class="part-b-font">At 40% off</h1><br /><br /><br />
                <div><button class="buy-now">Buy Now</button></div>
            </div>
        </div>
    </section>
    <section class="product-page">
        
    </section>
</body>
</html>