<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Holi Hai !!</title>
</head>
<body>
    <section class="hero-section">
        <button class="login-button" id="auth-a">Login</button>
        <img src="../static/images/hero-A.jpg" class='banner-bg' alt="holi image">
        <div class="cover-menu">
            <div class="part-A">
                <h2 class="part-a-font">Holi Hai !</h2><br />
                <h3 class="part-a-font-a">This Holi Gift Your Loved Ones </h3>
                <h3 class="part-a-font-c">a pack of joy</h3>
                <h1 class="part-a-font-a">Set of organic colors</h1><br />
                <h4 class="part-a-font-b">Toxin free | Easy Wash | Skin friendly</h4><br />
                <h1 class="part-a-font-a">Click to Buy →</h1>
            </div>
            <div class="part-B">
                <h2 class="part-b-font">Get Your Organic Colors</h2><br />
                <h1 class="part-b-font">At 40% off</h1><br /><br /><br />
                <div><button class="buy-now" id="buy-now-a">Buy Now</button></div>
            </div>
        </div>
    </section>
    <section class="product-page" id="product-a">
        <div class="main">
            <div class="product-image">
                <img class='product-img' src="../static/images/product.jpg">
            </div>
            <div class="desc">
                <div class="discription">
                    <h1>About the Product</h1>
                    <br>
                    <p>Handmade herbal Holi colour, Safe to skin, eco-friendly,</p>
                    <p>• Made of Tesu Flowers, Rose, Marigold, Sandalwood, Red Sandalwood, food colors.</p>
                    <p>• Soft & Glossy I Natural Fragrances I Finely filtered</p>
                    <p>• NABL Lab tested | 100% Natural | Chemical free</p>
                    <p>• Beautiful gift for corporates, friends, family, and loved ones.</p>
                    <br>
                    <br>
                    <p>Net Quantity: 50 gms each</p>
                </div>
                <div class="buy-now-cards">
                    <div class="card">
                        <h4> Pack of 3 Colors</h4>
                        <h6>Contains</h6>
                        <h6>Red Blue Green</h6>
                        <button class="buy-now" id="buy-now-3">Buy Now</button>
                    </div>
                    <div class="card">
                        <h4> Pack of 6 Colors</h4>
                        <h6>Contains</h6>
                        <h6>Red Blue Green</h6>
                        <h6>Purple Orange Yellow</h6>
                        <button class="buy-now" id="buy-now-6">Buy Now</button>
                    </div>
                    <div class="card">
                        <h4> Pack of 9 Colors</h4>
                        <h6>Contains</h6>
                        <h6>Red Blue Green</h6>
                        <h6>Purple Orange Yellow</h6>
                        <h6>3 Neon Colors</h6>
                        <button class="buy-now" id="buy-now-9">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer"></section>
    <script src="../static/app/app_a.js"></script>
</body>
</html>